<div class="container">
    <app-sidebar></app-sidebar>
    <div class="home">
        <div class="titulo">
            <h3>SMART VIEW</h3>
        </div>
        <div class="conteudo">
            <img src="assets/home-presentation.svg" alt="">
            <div class="home-texto">
                <div class="home-notes">
                    <h1>Bem vindo ao <span>Smart View</span></h1>
                    <p>Criamos um novo conceito para nossa solução em visualização e manipulação de dados, por isso <b>TReports</b> agora é <span>Smart View</span></p>
                    <p>Pelo menu à esquerda você tem acesso a todos os recursos disponíveis da nossa solução</p>
                </div>
            </div>
        </div>
    </div>
</div>
