<div class="container">
    <div class="sidebar">
        <nav>
            <div class="sidebar-img">
                <img src="assets/totvs.png" alt="Logomarca">
                <span class="sidebar-texto"><h3>TOTVS</h3></span>
            </div>
            <ul>
                <li>
                    <a href="">
                        <span class="po-icon po-icon-sale"></span>
                        <span class="sidebar-texto"><h4>Relatórios</h4></span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="po-icon po-icon-database"></span>
                        <span class="sidebar-texto"><h4>Tabelas Dinâmincas</h4></span>
                    </a>                        
                </li>
                <li>
                    <a href="">
                        <span class="po-icon po-icon-calendar"></span>
                        <span class="sidebar-texto"><h4>Visões de Dados</h4></span>
                    </a>                    
                </li>
                <li>
                    <a href="">
                        <span class="po-icon po-icon-folder"></span>
                        <span class="sidebar-texto"><h4>Pastas</h4></span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="botao">
            <a (click)="click()">
                <div class="sidebar-button">                
                    <span class="po-icon po-icon-exit"></span>
                    <span class="sidebar-texto"><h4>Sair</h4></span>
                </div>                
            </a>
        </div>
        
    </div>
</div>
